<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecommerce">
    <!-- Updated package name -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/rachit"
        android:label="Ecommerce"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".CancelledListActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDecription"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".OrderAddressActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OtherProfilePage"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChatPage"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:theme="@style/AppTheme" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="${MAPS_API_KEY}" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <activity
            android:name=".Post"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Productdesc"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Ctgory"
            android:exported="false" />
        <activity
            android:name=".DemoDesign"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Pf"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ForgetPass"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUP"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" /> <!-- UCrop Activity Declaration -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>